*{
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*------parte de la primera fila del panel administrador---------*/
.panel{ 
	/*border: 2px red solid;*/
	overflow: hidden;
	/*background-color: #990066;*/
	background-color: #4f028C;
	height: 130px;
} 
.ppanel{
	/*border: 2px red solid;*/
	vertical-align: top;
	margin-left: 1%;
	margin-top: 2%;
	font-size: 25px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
.ppanel2{
	/*border: 2px red solid;*/
	width: 100%;
	/*vertical-align: top;*/
	margin-left: 1%;
	margin-top: 2%;
	font-size: 23px;
	color: white;
	font-weight: bold;
	font-style: italic;
	font-family: 'Roboto Condensed', sans-serif;
}
.contienelogo, .ppanel{
	display: inline-block;
}
.pizquierda{
	/*border: 2px green solid;*/
	width: 50%;
	float: left;
}
.contienelogo{
	/*border: 2px red solid;*/
	width: 20%;
	margin-top: 1%;
}
.logo{
	/*border: 2px red solid;*/
	width: 100%;
	margin-left: 1%;
}

/*----------------relog---------------*/
.pderecha{
	/*border: 2px black solid;*/
	margin-top: .4%;
	margin-right: 1%;
	width: 20%;
	float: right;
	/*text-align: right;*/
}
.widget{
	/*border: 2px red solid;*/
	width: 100%;
	color: white;
	/*margin: 32px;*/
}
.widget p{
	display: inline-block;
	line-height: 1em;
}
.fecha{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.5em;
	/*margin-bottom: 0.3125rem;*/
	/*background: rgba(0,0,0,.5);*/
	/*padding: 20px;*/
	width: 100%;
}
.reloj{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 4em;
	/*margin-bottom: 0.3125rem;*/
	/*background: rgba(0,0,0,.5);*/
	/*padding: 20px;*/
	width: 100%;

}
.reloj .caja-segundos{
	display: inline-block;
}
.reloj .segundos,
.reloj .ampm{
	font-size: 2rem;
	display: block;
}

/*--------parte de la divicion del panel de administrador-----*/

section{
	/*border: 2px red solid;*/
	/*vertical-align: top;*/
	/*overflow: hidden;*/
}
.izquierdasection, .derechasection{
	/*outline: 2px black solid;*/
	display: inline-block;
	height: 867px;
}
.izquierdasection{
	width: 15%;
	/*background-color: #343434;*/
	background-color: #2d2d2d;
	color: white;
}
.derechasection{
	width: 79%;
	vertical-align: top;
}
#name{
	/*border: 2px red solid;*/
}
#imgEstudiante{
	/*border:2px solid green;*/
	width: 40%;
	margin: auto;
	padding-top: 3%;
}

#imgEstudiante img {
	width: 100%;
	border-radius: 50%;
	/*border: 2px red solid;*/
}

.bien{
	/*border: 2px red solid;*/
	margin-top: 1%;
	margin-left: 32%;
	font-size: 20px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}


/*--------------menu---------------*/
ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

.accordion {
 	width: 100%;
 	margin: 30px auto 20px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	/*color: #4D4D4D;*/
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion .link:hover{
	background-color: #1a95d5;
}


.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	/*color: #595959;*/
	color: white;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
	color: white;
}

.accordion li.open .link {
	color: #b63b4d;
	background-color: #1a95d5;
}

.accordion li.open i {
	color: #b63b4d;

}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
 /*----------------------Submenu-----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 	font-family: 'Roboto', sans-serif;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }