*{
	padding: 0;
	margin: 0; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*------parte de la primera fila del panel administrador---------*/
.panel{ 
	overflow: hidden; 
	background-color: #4f028C;
	height: 130px; 
} 
.ppanel{
	vertical-align: top;
	margin-left: 1%;
	margin-top: 2%;
	font-size: 25px; 
	color: white;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
.ppanel2{
	width: 100%;
	margin-left: 1%;
	margin-top: 2%;
	font-size: 23px;
	color: white;
	font-weight: bold;
	font-style: italic;
	font-family: 'Roboto Condensed', sans-serif;

} 



.contienelogo, .ppanel{
	display: inline-block;
}
.pizquierda{
	/*border: 2px red solid;*/
	width: 50%;
	float: left;
}
.contienelogo{
	width: 20%;
	margin-top: 1%;
}
.logo{
	width: 100%;
	margin-left: 1%;
}

/*----------------relog---------------*/
.pderecha{
	/*border: 2px red solid;*/
	margin-top: .4%;
	margin-right: 1%;
	width: 30%;
	float: right;
}
.widget{
	width: 100%;
	color: white;
}
.widget p{
	display: inline-block;
	line-height: 1em;
}
.fecha{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 1.5em;
	width: 100%;
}
.reloj{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 4em;
	width: 100%;

}
.reloj .caja-segundos{
	display: inline-block;
}
.reloj .segundos,
.reloj .ampm{
	font-size: 2rem;
	display: block;
}

/*--------parte de la divicion del panel de administrador-----*/

section{
	/*border: 2px red solid;*/
}
.izquierdasection, .derechasection{
	display: inline-block;
	height: 727px;
	/*border: 2px solid red;*/
}
.izquierdasection{
	width: 15%;
	background-color: #2d2d2d;
	color: white;
}
.derechasection{
	/*border: 2px black solid;*/
	/*background-color: gray;*/
	width: 84.5%;
	vertical-align: top;
}
#name{
	/*border: 2px red solid;*/
}
#imgEstudiante{
	width: 40%;
	margin: auto;
	padding-top: 3%;
}

#imgEstudiante img {
	width: 100%;
	border-radius: 50%;
}

.bien{
	/*border: 2px red solid;*/
	margin-top: 1%;
	margin-left: 32%;
	font-size: 20px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}


/*--------------menu---------------*/
ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

.accordion {
 	width: 100%;
 	margin: 30px auto 20px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.accordion .link:hover{
	background-color: #1a95d5;
}


.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: white;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
	color: white;
}

.accordion li.open .link {
	color: #b63b4d;
	background-color: #1a95d5;
}

.accordion li.open i {
	color: #b63b4d;

}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
 /*----------------------Submenu-----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 	font-family: 'Roboto', sans-serif;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }


 /*-----------------------------------panel de inicio de sesion-----------------------------*/

.body{
	background-image: url("../images/login.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.iniciosesion{
	width: 100%;
}


/*-----------------LOGIN CONFIGURACCION-------------------*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
    margin-bottom: 0;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -300px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
#inicios {
	width: 20%;
	margin: 160px auto;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	

}
#conten {
	background: #fff;
	margin: 5% auto;
	width: 100%;
}



#c1 {
	width: 100%;
	height: 60px;
	background: #67DFF0;
	text-align: center;
	color: white;
	font-family: arial;
	font-weight: bold;
	padding-top: 6%;
	font-size: 20px;
	border-radius: 10px 10px 0 0;

}
#c2 {
	text-align: center;
	width: 100%;
	padding: 5%;
}
hr{
	margin: 0 auto;
}
.nom, .pas 
{
	height: 40px;
	font-size: 18px;
}

#c3 {
	margin: auto;
	width: 60%;
	
	
}
.boton {
	width: 100%;
	border-radius: 5px;
	border: 0px;
	padding: 5%;
	color: black;
	font-size: 17px;
	background: #67DEF0;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.registration {
	text-align: center;
}
.emai:focus{
	border: 2px solid #2DE1CE;
	outline: 0px;
	-webkit-box-shadow: -1px 2px 26px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 26px -4px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 26px -4px rgba(0,0,0,0.75);
}
.emai {
	height: 35px;
	border-radius: 5px;
	margin-top: 1%;
	border: 1px solid #ccc;
	width: 100%;
	-webkit-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
	-moz-box-shadow:  inset 0 2px 2px 2px rgba(0,0,0,.075);
	box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.075);
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.busname
{
	/*border: 2px solid red;*/
	width: 80%;
}

.btn-name
{
	/*border: 2px solid green;*/
	border-radius: 5px;
	background: #4f028C;
	padding: 10px;
	color: #fff;
	/*width: 29%;*/
	cursor: pointer;
}
.name
{
	margin-top: 22px;
	margin-left: 2px;
	padding:8px 10px 8px 10px;
}

input::-webkit-input-placeholder {
  /*color: #747474;*/
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding-left:  5px;
}
input:-moz-placeholder {
  /*color: #747474; */
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding-left:  5px;
}
input:-ms-input-placeholder { 
  /*color: #747474; */
  color: black;
  font-weight: bold;
  font-size: 15px;
  padding-left:  5px;
}

/*---------------registro de cliente-------------*/

.titulosec{
	/*border: 2px red solid;*/
	font-family: 'Oswald', sans-serif;
	color: #505050;
	font-size: 36px;
	width: 100%;
	margin-top: 2%;
	/*margin-left: 2%;*/

}
.for {
	width: 45%;
	float: left;
	margin-left: 3%;
	/*padding-top: 2%;*/
	/*border: 2px solid red;*/
}

.ema{
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
}
.button {
	/*float: right;
	vertical-align: top;*/
	background:#7f8c8d;
	color:#fff;
	font-size:1.25em;
	margin:20px;
	padding:10px 0;
	text-align:center;
	width:200px;
	text-decoration:none;
	box-shadow:0px 3px 0px #373c3c;
	cursor: pointer;

}
.button:hover {
	box-shadow:0px 0px 0px;
	padding-top:7px;
	background: #4f028C;
}
#button {
	float: right;
	vertical-align: top;
	/*border: 2px red solid;*/
	margin-top: 4%;
	width: 50%;
	/*border: 2px solid green;*/
}


/*-------------opCliente------*/
.conteopciones
{
	/*border: 2px red solid;*/
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-top: 5%;
}
.aqui{
	/*outline: 2px red solid;*/
	margin-top:3%;
	font-family: 'Roboto', sans-serif;
	width: 30%;
	color: #505050;
	/*font-size: 36px;*/
	margin-left: 2%;
}
.acciones{
	/*border: 2px black solid;*/
	display: inline-block;
	width: 34%;
	margin-left: 5%;
	vertical-align: top;
	border-radius:10px 10px 10px 10px;
	border:2px #428bca solid;
	/*border-radius: 10px;*/
	/*border:2px #428bca solid;*/
}
.accionesdentro1{
	/*outline: 2px red solid;*/
	width: 100%;
	height: 100px;
	padding: 9px 0px 5px 0px;
	background-color: #428bca;
	/*border-radius: 10px;*/
  	/*border-color: #428bca;*/
}
.accionesdentro11{
	background-color: #428bca;
	width: 100%;
	height: 80px;
	/*margin: 0 auto;*/
}
.accionesdentro2{
	/*outline: 2px red solid;*/
	/*border-radius:0px 0px 10px 10px;
	border:2px #428bca solid;*/
	width: 100%;
	height: 50px;
}
.users{
	float: left;
	margin-left: 2%;
	color: white;
	/*outline: 2px red solid;
	height: 80px;
	width: 18%;*/
}
.rcliente{
	float: right;
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-top: 5%;
	margin-right: 2%;
	font-family: 'Oswald', sans-serif;
}
.iniciaraccion{
	/*outline: 2px red solid;*/
	float: left;
	margin-top: 4%;
	color: #428bca;
	margin-left: 2%;
}
.right {
	float: right;
	margin-right: 2%;
	margin-top: 4%;
	color: #428bca;
}




/************Inicia Diseño de PAGOS*/
#contenedor-principal
{
	border: 2px solid blue;
}

.content{
	border: 2px solid green;
	width: 50%;
	float: left;
	margin-left: 20px;
}
/************************************/


/*------addprestamo------*/
.contefoliofech{
	/*border: 2px red solid;*/
	overflow: hidden;
}
.uno{
	/*display: inline-block;*/
	float: left;
	/*border: 2px black solid;*/
	/*vertical-align: top;*/
	width:40%;
	/*margin-right: 9.6%;*/
}
.dos{
	float: right;
	width: 45%;
	/*clear: both;*/
	/*border:2px solid red;*/

}
.tres{
	text-align: center;
	/*border: 2px green solid;*/
	display: inline-block;
	vertical-align: top;
	width: 31%;
	margin-right: 6.7px;

}
/*-----------pago------*/

.contenfoliocre{
	/*border: 2px red solid;*/
	overflow: hidden;

}
.fp{
	/*border: 2px black solid;*/
	float: left;
	width: 40%;
}
.cre{
	/*border: 2px black solid;*/
	float: right;
	width: 45%;
}
.cre2{
	/*background: gray;*/
	float: left;
	margin-left: 4%;
	/*margin-right: 5%;*/
}
.unoo{
	
	float: left;
	/*border: 2px green solid;*/
	width:55%;
}

/*----------diseño de tabla-------*/
#dere{
	/*border: 2px red solid;*/
	/*background-color: gray;*/
}

table * {
	height: auto;
	 min-height: none;
	 } /* fixed ie9 & <*/

table {
	/*border: 2px */
  background: #15BFCC;
  table-layout: fixed;
  margin: 1rem auto;
  width: 98%;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
  border-collapse: collapse;
  border: 1px solid rgba(0,0,0,.5);
  /*border: 2px black solid;*/
  border-top: 0 none;
}
thead {
  background: #FF7361;
  /*text-align: center;*/
  z-index: 2;
}
thead tr {
  padding-right: 17px;
  box-shadow: 0 4px 6px rgba(0,0,0,.6);
  z-index: 2;
}

th {
  border-right: 2px solid rgba(0,0,0,.2);
  padding: 15px 0;
  font-size: 22px;
  font-weight: normal;
  font-variant: small-caps;
  /*text-align: center;*/
}
tbody {
  display: block;
  height: calc(50vh - 1px);
  min-height: calc(200px + 1 px);
  /*use calc for fixed ie9 & <*/
  overflow-Y: scroll;
  color: #000;
}
tr {
  display: block;
  overflow: hidden;
}
tbody tr:nth-child(odd) {
  background: rgba(0,0,0,.2);
  /*background-color: pink;*/
}
th, td {
  width: 13%;
  float:left;
}
td {
  padding: .5rem 0 .5rem;
  /*font-size: 15px;*/
  border-right: 2px solid rgba(0,0,0,.2);
  /*text-align: center;*/
  /*background-color: red;*/
}
td:nth-child(2n) {color: #000; /*background-color: green*/;
width: 30%; text-align: left;}


[data-campo='Mail'] {
  width: 36%;
  /*background-color: red;*/

} 
td:nth-child(3n) {color: #000; /*background-color: gray*/
width: 10%; text-align: center;}
td:nth-child(4n) {color: #000; /*background-color: pink*/
width: 10%; text-align: center;} 
td:nth-child(5n) {color: #000; /*background-color: pink*/
width: 10%; text-align: center;}
td:nth-child(6n) {color: #000; /*background-color: pink*/
width: 10%; text-align: center;} 
td:nth-child(7n) {color: #000; /*background-color: pink*/
width: 10%; text-align: center;} 
th:nth-child(2n) {color: #000; /*background-color: gray*/
width: 30%;}
th:nth-child(3n) {color: #000;/* background-color: gray*/
width: 10%;}
th:nth-child(4n) {color: #000; /*background-color: pink*/
width: 10%;} 
th:nth-child(5n) {color: #000; /*background-color: pink*/
width: 10%;}
th:nth-child(6n) {color: #000;/* background-color: pink*/
width: 10%;} 
th:nth-child(7n) {color: #000; /*background-color: pink*/
width: 10%;} 
th:nth-child(8n) {color: #000; /*background-color: pink;*/
width: 11%; border-right: none;} 


td:last-child {
  width: 11%;
  text-align: center;
  border-right: 0 none;
  padding-left: 0;
  /*border-right: 2px solid rgba(0,0,0,.2);*/
  /*background-color: red;*/
}

th:first-child {
/*	color: white;
	background-color: yellow;*/
	width: 7%;


}
td:first-child {
/*	color: white;
	background-color: yellow;*/
	width: 7%;
	text-align: center;

}
/*----------------tabla pagos------------*/


.tablap{
	/*border: 2px red solid;*/
  background: #15BFCC;
  /*background-color: black;*/
  table-layout: fixed;
  margin: 1rem auto;
  width: 98%;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
  border-collapse: collapse;
  border: 1px solid rgba(0,0,0,.5);
  /*border: 2px black solid;*/
  border-top: 0 none;
}

.tablap td:nth-child(2n) {color: #000; /*background-color: green;*/
/*width: 15%;*/ text-align: center;}

.tablap th:nth-child(3n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablap th:nth-child(4n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center; }

.tablap th:nth-child(5n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;border: none;}

.tablap td:nth-child(3n) {color: #000; /*background-color: yellow;*/
width: 15%; text-align: center;}

.tablap td:nth-child(4n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablap td:nth-child(5n) {color: #000; /*background-color: black;*/
width: 15%; text-align: center;}

.tablap th:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;


}
.tablap td:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;
	text-align: center;

}

/*-----------tabla agentes----------*/
.contienetabla{
	/*border: 2px red solid;*/
	width: 86%;
	margin: 0 auto;
}
.
.tablaA{
	/*border: 2px red solid;*/
  background: #15BFCC;
  /*background-color: black;*/
  table-layout: fixed;
  margin: 1rem auto;
  width: 98%;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
  border-collapse: collapse;
  border: 1px solid rgba(0,0,0,.5);
  /*border: 2px black solid;*/
  border-top: 0 none;
}
.tablaA th:nth-child(2n) {color: #000; /*background-color: green;*/
width: 50%; text-align: center;}

.tablaA td:nth-child(2n) {color: #000; /*background-color: green;*/
width: 50%; text-align: left;}

.tablaA th:nth-child(3n) {color: #000; /*background-color: green;*/
width: 10%; text-align: center;}

.tablaA th:nth-child(4n) {color: #000; /*background-color: green;*/
width: 10%; text-align: center; }

.tablaA th:nth-child(5n) {color: #000; /*background-color: green;*/

width: 16%; text-align: center;border: none;}


.tablaA td:nth-child(3n) {color: #000; /*background-color: yellow;*/
width: 10%; text-align: center;}

.tablaA td:nth-child(4n) {color: #000; /*background-color: green;*/
width: 10%; text-align: center;}

.tablaA td:nth-child(5n) {color: #000; /*background-color: black;*/

width: 16%; text-align: center;}



.tablaA th:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 10%;


}
.tablaA td:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 10%;
	text-align: center;

}

/*-----------tabla zonas----------*/
.contienetablaz{
	/*border: 2px red solid;*/
	width: 86%;
	margin: 0 auto;
}
.tablaz{
	/*border: 2px red solid;*/
  background: #15BFCC;
  /*background-color: black;*/
  table-layout: fixed;
  margin: 1rem auto;
  width: 98%;
  box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
  border-collapse: collapse;
  border: 1px solid rgba(0,0,0,.5);
  /*border: 2px black solid;*/
  border-top: 0 none;
}
.tablaz th:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;


}
.tablaz td:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;
	text-align: center;

}
.tablaz td:nth-child(2n) {color: #000; /*background-color: green;*/
width: 85%; text-align: left;}

.tablaz th:nth-child(2n) {color: #000; /*background-color: green;*/
width: 85%; text-align: center; border: none;}


/*--------------tabla ventas---------------*/

.tablav td:nth-child(2n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablav th:nth-child(3n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablav th:nth-child(4n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center; border: none; }

.tablav th:nth-child(2n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablav td:nth-child(3n) {color: #000; /*background-color: yellow;*/
width: 15%; text-align: center;}

.tablav td:nth-child(4n) {color: #000; /*background-color: green;*/
width: 49%; text-align: left;}



.tablav th:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;


}
.tablav td:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;
	text-align: center;

}


/*---------tabla consulta pagos--------------*/

.tablacp td:nth-child(2n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablacp th:nth-child(3n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablacp th:nth-child(4n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center; }

.tablacp th:nth-child(2n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablacp th:nth-child(5n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center; border: none;}

.tablacp td:nth-child(3n) {color: #000; /*background-color: yellow;*/
width: 15%; text-align: center;}

.tablacp td:nth-child(4n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}

.tablacp td:nth-child(5n) {color: #000; /*background-color: green;*/
width: 15%; text-align: center;}



.tablacp th:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;


}
.tablacp td:first-child {
	/*color: white;*/
	/*background-color: yellow;*/
	width: 15%;
	text-align: center;

}


/*--------------consultaventas-------*/
.contenfechaif{
	/*border: 2px red solid;*/
	margin-top: 2%;
	text-align: center;
}
.fei{
	/*border: 2px black solid;*/
	display: inline-block;
	width: 20%;
	margin-left: 2%;
}
.btn{
	margin-left: 0%;
	text-align: left;
}
#muestratabla{
	/*border: 2px red solid;*/
}

/*---------boton cancelar-------------*/

.cancel{
	 border: none;
	 background-color: #AE2121;
	 color: #f2f2f2;
	 padding: 5px 5px;
	 font-size: 13px;
	 border-radius: 5px;
	 position: relative;
	 box-sizing: border-box;
	 transition: all 500ms ease;
	 cursor: pointer;

}
.cancel:before{
	 content:'';
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 0px;
	 height: 26px;
	 background: rgba(255,255,255,0.3);
	 border-radius: 5px;
	 transition: all 2s ease;

}
.cancel:hover:before {
 	width: 100%;
}
