*{
	padding: 0;
	margin: 0;
}

/*------parte de la primera fila del panel administrador---------*/
.panel{
	/*border: 2px red solid;*/
	overflow: hidden;
	/*background-color: #990066;*/
	background-color: #4f028C;
	height: 80px;
}
.picono{
	/*border: 2px black solid;*/
	margin-left: 1%;
	color: gray;
	margin-top: 1%;
}
.ppanel{
	/*border: 2px red solid;*/
	vertical-align: top;
	margin-left: 1.5%;
	margin-top: 2%;
	font-size: 25px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
}
.picono, .ppanel{
	display: inline-block;
}
.pizquierda{
	/*border: 2px green solid;*/
	width: 50%;
	float: left;
}
.pderecha{
	/*border: 2px green solid;*/
	margin-top: .4%;
	margin-right: 1%;
	width: 20%;
	float: right;
	text-align: right;
}
.pboton{
	color: black;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 4%;
}
.pboton:hover{
	background-color: #4f028c;
	color: white;
}

/*--------parte de la divicion del panel de administrador-----*/

section{
	/*border: 2px red solid;*/
}
.izquierdasection, .derechasection{
	/*outline: 2px black solid;*/
	display: inline-block;
	height: 867px;
}
.izquierdasection{
	width: 20%;
	/*background-color: #343434;*/
	background-color: #2d2d2d;
	color: white;
}
.derechasection{
	width: 79%;
	vertical-align: top;
}
#name{
	/*border: 2px red solid;*/
}
#imgEstudiante{
	/*border:2px solid green;*/
	width: 30%;
	margin: auto;
	padding-top: 3%;
}

#imgEstudiante img {
	width: 100%;
	border-radius: 50%;
	/*border: 2px red solid;*/
}

.bien{
	/*border: 2px red solid;*/
	margin-top: 1%;
	margin-left: 38%;
	font-size: 20px;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
}
#menu
{
	/*border: 2px solid green;*/
	/*text-align: right;*/
	/*float:left;*/
	width: 100%;
	margin-top: 5px;
	/*padding:16px;*/
	/*padding: 15px 0px 15px  0px;*/
	/*padding-right: 25px;*/
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	/*border-radius: 10px;*/
	border-bottom: 1px solid #323232;
	cursor: pointer;
	-webkit-transition: opacity .2s;
}

 a 
{
	/*padding:16px;*/
	padding-right: 25px;
	/*border: 2px red solid;*/
	text-decoration: none;
	color: #f2ef9b;
	float: right;
	clear: both;
	display: block;
	/*width: 100%;*/
}

#menu:hover
{
	background: #f2ef9b;
	transition: all 0.9s ease;
}

a #menu:hover
{
	
	color: #000;
}
